<div class='full parallax' style='background-image: url(images/@stock/customers-bg.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="More About our Strategy" color="#fff" %}
      <div class='centered-text'>
        <p>
          We selected only the best among the best strategies which are times tested and proven to yield our investor the best profit in the long-run. 
        </p>
      </div>
      <div class='centered-text'>
      	<a class='button large' href=''>Want to know more</a>
      </div>
      <div class='spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modClients' data-slides_to_show='4'>
        <!-- <div class='clients'>
          {% for client in site.data.clients %}
            <div><img alt="" src="{{client.image}}" /></div>
          {% endfor %}
        </div> -->
      </div>
    </div>
  </div>
  <div class='two spacing'></div>
</div>